@charset "UTF-8";
/* /css/style_admin.css */


header {
  background-color: #FFE79B;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 20px;
  color: #000;
}
/* ユーザー情報 */
.user-info-container {
	display: flex;
	align-items: center;
	gap: 10px;
}


.user-info img {
	height: 40px;
	width: auto;
	display: block;
}


footer {
  background-color: #FFE79B;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: 'Yu Gothic', 'Meiryo', sans-serif;
  color: #000;
}
